{% extends 'base.html' %}

{% block content %}
{% load markdownify %}


<form>
    <button class='newQ' type='submit' formaction="{% url 'question_create' %}">Ask a Question!</button>
</form>

{% if not user.is_authenticated %}
<button id='loginbtn'><a href="{% url 'auth_login' %}">Login</a></button>
{% endif %}

<div class='questionsList'>
    {% for question in questions %}
    <h2><a href="{% url 'question_detail' pk=question.pk %}">{{ question }}{% if question.times_starred > 0 %} | Starred
            by {{ question.times_starred }} {% if question.times_starred == 1 %} user {% else %}
            users {% endif %}{% endif %}</a>
        <p style='font-size:1rem; padding: 0.5rem 0 0.5rem;'>{{ question.body|truncatewords:15 }}</p>
        <div style='color:gray; font-size:1rem; padding-bottom: 1rem; margin-bottom:2rem; border:none'>
            <div>From {{ question.niceAsked }}</div>
        </div>
    </h2>
    {% endfor %}
</div>

{% endblock %}