{% extends 'base.html' %}

{% block content %}

<div class='Qs'>
    <h3>{{ question.title }}
        {% if question.isStarred %}
        <div id='heart'>❤️</div>
        {% endif %}
    </h3>

    <p>{{ question.body }}</p>

    <p>Asked at: {{ question.niceAsked }}</p>
</div>

<div class='As'>
    {% for answer in answers %}
    <div class='answer'>
        <p class='Abody'>
            {{ answer.body }}
            {% if answer.isStarred %}
        <div id='heart'>❤️</div>
        {% endif %}
        </p>
        <p class='Aauthor'>Written by {{ answer.author }} on {{ answer.niceAnswered }}</p>
    </div>
    {% endfor %}
</div>


<button id='answerbtn'>
    <h3>Have an answer?</h3>
</button>


<form id="answerBox" method="POST" style="display: none;">
    {% csrf_token %}

    {{ form.as_p}}
    <input type='submit' value='Submit Answer'>
</form>


<div class='qButtons'>
    <button><a href="{% url 'frontpage' %}">Back to Front Page</a></button>

    {% if question.user == request.user %}
    <button><a href="{% url 'question_delete' pk=question.pk %}">Delete Question</a></button>
    {% endif %}
</div>


<script>
    function answerBox() {
        var x = document.querySelector('#answerBox');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }

    var btn = document.querySelector('#answerbtn')
    btn.addEventListener("click", answerBox)

</script>


{% endblock %}