{% extends 'base.html' %}

{% block content %}

<h2>Question Details</h2>

<h3>Title: {{ question.title }}</h3>

<p>Body: {{ question.body }}</p>

<p>Asked at: {{ question.niceAsked }}</p>

{% for answer in answers %}
<p>Answers: {{ answer.body }}</p>
<p>Answered at: {{ answer.niceAnswered }}</p>
{% endfor %}

<h3>Have an answer?</h3>
<form method="POST">
    {% csrf_token %}

    {{ form.as_p}}
    <input type='submit' value='Submit Answer'>
</form>

<button><a href="{% url 'frontpage' %}">Back to Front Page</a></button>

{% if question.user == request.user %}
<button><a href="{% url 'question_delete' pk=question.pk %}">Delete Question</a></button>
{% endif %}

{% endblock %}